{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-blade"],
    "blade": {
        "indentSize": 4,
        "wrapAttributes": "force-aligned",
        "wrapLineLength": 100,
        "sortAttributes": true,
        "sortAttributesGroups": true,
        "sortClassAttributes": true,
        "sortStyleAttributes": true,
        "directiveSort": "alphabetical"
    }
}
