{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-blade"],
    "blade": {
        "directiveSort": "alphabetical",
        "sortAttributes": true,
        "sortAttributesGroups": true,
        "sortClassAttributes": true,
        "sortStyleAttributes": true
    }
}
